.my_nav {
    height: 90px;
    img {
        width: 200px;
    }
    li {
        margin: 0 5px;
        padding: 0 20px;
        height: 100%;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        border-bottom: 2px solid transparent;
        &:hover{
            border-bottom: 2px solid $secondaryColorText;
        }
        a {
            color: $primaryColorText;
        }
    }
    .my_iscrizione{
        max-height: 40px;
        background: $secondaryColorText;
        margin: 0 0 0 40px;
        padding: 0 20px;
        border-radius: 5px;
        text-transform: uppercase;
        border-bottom: none;
        &:hover{
            opacity: 0.8;
        }

        a.nav-link{
            color: white;
            &:hover{
                color:white;
            }
        }
    }
}
